<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699702192344-ghq3tetfe2buir04cjv5e9oqmclhjh69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699702192344-ghq3tetfe2buir04cjv5e9oqmclhjh69</string>
	<key>API_KEY</key>
	<string>AIzaSyDGHgCfoAig-qafJK8DScxfddsMDkG4PlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>699702192344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myversion</string>
	<key>PROJECT_ID</key>
	<string>flutter-movie-quotes</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-movie-quotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699702192344:ios:bd64e694b833dabdec8fad</string>
</dict>
</plist>